@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700;800&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;

    
    font-family: "Exo 2";
    text-align: center;
    color:white;
}

#particals-js{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.section-programm {
    position: relative;
    
    width: 60%;
    max-width: 60%;
    padding: 2rem 1rem;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    font-size: 5.6rem;
}

.subtitle{
    font-size: 3.1rem;
}

.main-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 5rem;
}

body {
    width: 100%;
    background: #FFFFFF;
    background: linear-gradient(180deg, #4E54C8 0%, #8F94FB 100%), #4E54C8;
}

.header{
    margin-bottom: 5rem;    
}

.footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;

}

.copyright {
    font-size: 1.71rem;
}

.links {
    display: flex;
    flex-flow: row wrap;
}

.social-networks{
    margin-left: 1.5rem;
}
.image {
    display:inline-block;
    background-image: url("brain.png");
    border-radius: 1.25rem;
    align-items: center;
    width: 47.5%;
    margin-left: 5%;
    background-position: center center;
    background-size: cover;
}

.form {
    width: 47.5%;
}

#input-text{
    width: 100%;
    height: 15rem;
    margin-bottom: 1.875rem;
    resize: none;
    text-align: left;
    font-size: 1.25rem;
    color: #B1AFAF;
    font-family: "Exo 2";
    font-style: normal;
    font-weight: normal;
    line-height: 1.375rem;
    border-radius: 1.25rem;
    padding: 20px;
    background: #F4F4F4;
    border: 2px solid #191F82;
    box-sizing: border-box;
}

.action-in-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: #000000;
}

#select{
    width: 47.5%;
    height: 4.125rem;
    background: #FFFFFF;
    border: 2px solid #191F82;
    box-sizing: border-box;
    border-radius: 0.625rem;

    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.8125px;
    color: #000000;

}

#button {
    width: 47.5%;
    margin-left: 5%;
    height: 4.125rem;
    background: #191F82;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.625rem;
    font-size: 1.75rem;
}